@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-50: 240 249 255;
    --color-primary-100: 224 242 254;
    --color-primary-200: 186 230 253;
    --color-primary-300: 125 211 252;
    --color-primary-400: 56 189 248;
    --color-primary-500: 14 165 233;
    --color-primary-600: 2 132 199;
    --color-primary-700: 3 105 161;
    --color-primary-800: 7 89 133;
    --color-primary-900: 12 74 110;
    --color-primary-950: 8 47 73;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}

/* Custom utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
